/*base>color*/
a,
.btn-link,
#styleguide-header a,
#styleguide-header li a.active ,
.home-features .content-box:hover ,
.home-bottom .icon,
.text-primary {
  color: #e67e22;
}
/*base background */
.btn-primary,
#navbar,
#navbar .navbar-toggle .icon-bar,
#navbar .dropdown-menu,
.footer-section .footer-message,
.home-bottom .top-header,
.home-features .content-box:hover .icon-inner-box,
.bg-primary,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #e67e22;
}

/*base border-color */
#navbar .navbar-toggle,
.btn-primary,
.home-features .content-box:hover .icon-box,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #e67e22;
}

/* secondary > color */
a:hover,
a:active,
a:focus,
a.focus,
a.active,
.btn-link:focus,
.btn-link:hover,
.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
.list-group-item.active>.badge,
.nav-pills>.active>a>.badge ,
.home-welcome .block-icon-circle i {
  color: #d35400;
}
/* secondary > background */
.clr-secondary-bg,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.progress-bar,
.label-primary ,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
.home-welcome .block-icon-circle:hover,
.footer-section .footer-copyright {
  background-color: #d35400;
}
/* secondary > border-color */
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
.panel-primary,
.home-cta .content-box {
  border-color: #d35400;
}
.home-cta .content-box {
  border-left-color: #d35400;
}

/* blend background */
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover,
.badge,
.footer-section .footer-blocks,
.footer-section .footer-menu ul li {
  background-color: #dd6b13;
}
/* blend border-color */
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  border-color: #dd6b13;
}

blockquote {
  border-left-color: #dd6b13;
}
.blockquote-reverse,
blockquote.pull-right {
  border-right-color: #dd6b13;
}

/* text - color */
.home-cta .content-box .title,
.home-cta .content-box .description,
.home-features .top-header .title,
.home-features .top-header .description,
.home-features .content-boxes .content-box,
.home-bottom .content-boxes .content-box .title,
.home-bottom .content-boxes .content-box .description {
  color: #1f2126;
}

/* text - background-color */
.home-features .content-box .icon-inner-box {
  background-color: #898989;
}
/* text - border-color */
.home-features .content-box .icon-box {
  border-color: #898989;
}

/* background - color */
.home-cta .content-box .buynow-button a {
  color: #fcfcfc;
}

/* link color */
.clr-link-color,
.navbar-default .navbar-brand,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover,
.panel-primary>.panel-heading,
.home-welcome .main-title,
.home-welcome .main-desc,
.home-welcome .block-icon-circle,
.home-welcome .block-text,
.home-welcome .block-desc,
.home-welcome .block-icon-circle:hover,
.home-welcome .block-icon-circle:hover i,
#navbar  .nav>li>a:focus,
#navbar  .nav>li>a:hover,
#navbar  .nav>li>a.active,
#navbar  .nav a:focus,
#navbar  .nav a:hover,
#navbar  .nav a.active,
#navbar .nav>li>a,
#navbar .nav>li>a.menu-highlight,
#navbar .dropdown-menu a,
#navbar .dropdown-menu a:hover,
#navbar .dropdown-menu a.active,
#navbar ,
.home-features .content-box .icon-box,
.home-bottom .top-header .title,
.home-bottom .top-header .description,
.home-features .content-box:hover .icon-box,
.footer-section,
.footer-section .footer-menu ul li a,
.footer-section a,
.footer-section .footer-social .block-content .follow-link-wrapper a:before ,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #ffffff;
}
/* link background color */
.home-cta,
.home-features,
.home-bottom,
.home-welcome .block-icon-circle {
  background-color: #ffffff;
}


#navbar .navbar-collapse,
#navbar .navbar-form {
  border-color: transparent;
}
#navbar  .nav>li>a:focus,
#navbar  .nav>li>a:hover,
#navbar  .nav>li>a.active,
#navbar  .nav a:focus,
#navbar  .nav a:hover,
#navbar  .nav a.active {
  background: transparent;
}

.home-bottom .content-boxes {
  background-color: #f6f6f6;
}

@media (max-width: 767px) {

  #navbar .navbar-collapse,
  #navbar .navbar-form,
  #navbar .navbar-toggle,
  #navbar .navbar-toggle:hover .icon-bar {
    background-color: #e67e22;
  }
  #navbar .navbar-toggle .icon-bar,
  #navbar .navbar-toggle:hover {
    background-color: #ffffff;
  }
  #navbar .navbar-toggle {
    border-color: #ffffff;
  }
  #navbar .navbar-toggle:hover {
    border-color: #e67e22;
  }
}
