.arrowd{
    position:absolute;
    bottom:40px;
    width:100%;
    align-content: center;
    left:50%;
    color:white;
    z-index:20;
    
    
}

.arrowd a{
    color:white;
    text-decoration:blink;
}

.affix {
    position: fixed;
}
* {
    box-sizing: border-box;
}

.window_container{
    position:relative;
    overflow:hidden;
    height:60%;
    
}

video{
    position: fixed;
  top: 50%;
  left: 50%;
  z-index: -2;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
    overflow:hidden;
    
}




@media all and (min-width: 100px) {
 .window_container {
    height: 100%;
  }

  video {
    width: 900%;
  }
}


@media all and (min-width: 600px) {
 .window_container {
    height: 100%;
  }

  video {
      height:100vh;
    width: auto;
  }
}

@media all and (min-width: 1200px) {
  .window_container {
    height: 100%;
  }

  video {
    width: 160%;
  }

}


.screen{
    z-index:-1;
    position:absolute;
    float:left;
    width: 100%;
    min-height:10px;
    background-color:orange;
    opacity:.75;
    height:100%;
    border-bottom-color: black;
    border-bottom-style:solid;
    border-bottom-width:3px;
}

.screener{
    background-image: url(/PETER/themes/peter/images/peter.png);
    
    position:absolute;
    
    height:100%;
    width:100%;
    opacity:1;
    background-repeat: no-repeat;
    background-size:contain;
    overflow:visible;
    background-position:center;
   
}