/* --------------------------- */
/* color css */
/* --------------------------- */
header#navbar.navbar-fixed-top.affix,
header#navbar.navbar-inverse,
header#navbar.navbar-default,
header#navbar .dropdown-menu,
header#navbar  .navbar-toggle .icon-bar  {
  background-color: #4e2e28;
}
header#navbar.navbar-fixed-top.affix a,
header#navbar.navbar-fixed-top.affix li a,
header#navbar.navbar-fixed-top.affix .navbar-nav li a,
header#navbar.navbar-inverse a,
header#navbar.navbar-inverse li a,
header#navbar.navbar-inverse .navbar-nav li a,
header#navbar .dropdown-menu a,
header#navbar .dropdown-menu,
header#navbar .navbar-nav > li > a {
  color: #ffffff;
}
body.front header#navbar.navbar-fixed-top.affix-top .navbar-nav > li > a,
body.front header#navbar.navbar-static-top .navbar-nav>li>a,
body.front header#navbar.navbar-static-top.navbar-inverse .navbar-nav>li>a,
.header-brown-content .main-title-first,
.header-brown-content .main-title-second {
  color: #4e2e28;
}
.header-brown-content  .main-desc,
header#navbar #navigation ul > li .active,
header#navbar .navbar-nav > li > a:focus, 
header#navbar .navbar-nav > li > a:hover {
  color:#171717;
}
header#navbar  .navbar-toggle {
  border-color: #ffffff;
  background: #ffffff;
}
header#navbar .navbar-nav > li > a:focus, 
header#navbar .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
header#navbar .dropdown-menu a {
  background-color: transparent;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  body.front header#navbar.navbar-static-top ul,
  body.front header#navbar.navbar-fixed-top.affix-top ul{
    background-color: #4e2e28;
  }
  body.front header#navbar.navbar-static-top a,
  body.front header#navbar.navbar-static-top .navbar-nav>li>a, 
  body.front header#navbar.navbar-static-top.navbar-inverse .navbar-nav>li>a,
  body.front header#navbar.navbar-fixed-top.affix-top a,
  body.front header#navbar.navbar-fixed-top.affix-top .navbar-nav>li>a, 
  body.front header#navbar.navbar-fixed-top.navbar-inverse.affix-top .navbar-nav>li>a,
  body.front header#navbar.navbar-static-top ul,
  body.front header#navbar.navbar-fixed-top.affix-top ul  {
    color: #ffffff;
  }
}


/* --------------------------- */
/* color css */
/* --------------------------- */
.content-blue {
  background-color: #ffffff;
}

.content-blue .top-header .title {
  color: #3498db;
}
  
.content-blue .top-header .description {
  color: #4b4b4b;
}

.content-blue .content-boxes .content-box i {
  color: #4b4b4b;
}

.content-blue .content-boxes .content-box .icon-circle {
  color: #4b4b4b;
}

.content-blue .content-boxes .content-box .icon-circle:hover {
  color: #3498db;
}

.content-blue .content-boxes .content-box .title {
  color: #4b4b4b;
}

/* --------------------------- */
/* color css */
/* --------------------------- */
/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/
.content-dark-pink {
  background-color: #ffffff;
}
.content-dark-pink a,
.content-dark-pink h2{
  color: #d94650;
}
.content-dark-pink h3,
.content-dark-pink h4,
.content-dark-pink h5,
.content-dark-pink h6,
.content-dark-pink {
  color: #4c4c4c;
}
.content-dark-pink .btn {
  background-color: #d94650;
  border-color: #d94650;
  color: #ffffff;
}
.content-dark-pink .btn:hover {
  background-color: #c63f48;
  border-color: #c63f48;
}
.content-dark-pink .underline,
.content-dark-pink h3 { 
  border-color: #4c4c4c;
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/


/* --------------------------- */
/* color css */
/* --------------------------- */
footer#footer {
  background-color: #e84c3d;
}
footer#footer .footer-menu ul li a:hover,
footer#footer .footer-menu ul li a:focus {
  background-color: transparent;
}
footer#footer .follow-link-wrapper{
  background-color: #ec7c70;
}
footer#footer,
footer#footer .footer-menu ul li a,
footer#footer .follow-link-wrapper a:before{
  color: #ffffff;
}
footer#footer .follow-link-wrapper a:hover:before {
  color: #e84c3d;
}


