/* --------------------------- */
/* mobile css */
/* --------------------------- */
@media (max-width: 767px) {

.content-blue {
  padding-top: 7px;
  padding-right: 7px;
}

.content-blue .top-header .title {
  font-size: 1.70em;
  margin-bottom: 5px;
}

.content-blue .top-header .description {
  margin-bottom: 28px;
}

.content-blue .content-boxes .content-box .icon-circle {
  margin-bottom: 0;
}

.content-blue .content-boxes .content-box .title {
  margin-bottom: 8px; 
}

.content-blue .content-boxes .content-box .description {
  margin-top: 0;
  margin-bottom: 25px;
}

}

/* --------------------------- */
/* mobile css */
/* --------------------------- */
/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/

@media (min-width: 768px) and (max-width: 992px) {  
  .content-dark-pink .content-desc {
    line-height: 1.8em;
    font-size: 14px;
  }
  .content-dark-pink li {
    margin-bottom: 5px;
  }
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/


/* --------------------------- */
/* CSS RESPONSIVE */
/* --------------------------- */
@media (max-width: 767px) {
  footer#footer .follow-link-wrapper {
    width: 60px;
    padding-top: 15px;
    height: 60px;
  }
  footer#footer .footer-social .block-content {
    float: none;
    padding-bottom:90px;
  }
  footer#footer .footer-menu ul li {
    display: inline-block;
  }
  footer#footer .footer-menu ul li a {
    font-size: 1.3em;
  }
}


