@media screen and (max-width: 1000px) {
  
  body aside,
  body #content,
  #top-area .column,
  #footer-area .column{
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
  }

  #footer,
  #page-wrap{
    padding: 0 15px;
  }

  #page-wrap {
  	box-shadow: none;
  	border: 0;
  }

  .top_right .region-search{ float: none; }

  .social-icons,
  .footer_credit .copyright{
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .region-search{
    margin: 10px auto;
    width: 200px;
    float: none;
    clear: both;
  }

  .nivo-caption {
  	display: none !important;
  }

 .front #page-wrap {
    z-index:50;
  top: -100px;
  margin-bottom: -80px;
}


  .theme-default .nivo-controlNav {
  	bottom: 10px;
  }

}

 @media screen and (max-width: 1000px) {

 


  .page-gallery .region-content .view-gallery .views-row{
  	width: 50%;
  }

}
 .front #page-wrap {
    z-index:50;
  top: -100px;
  margin-bottom: -80px;
}


@media screen and (max-width: 440px) {

}



@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: white;
		border: 0px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
        font-weight: bold;

	}

    nav li:hover {

		background-color:orange;

	}
	nav:hover ul {

		display: block;
       

	}
    
    nav > a > i {
 position:absolute;
    margin:15px;

        visibility: visible;
    
}