
.titlebar_container,
.window_container,
.nav_container{

    float:left;
    width:100%;
    clear:both;
  
    
}

.content_container,
.footer_container,
.footer2_container{
    float:left;
    width:100%;
    clear:both;
    
    
}

/*-------TITLE BAR----------*/

.titlebar_container{
    z-index: -100000;
    background:#f00;
    height:40px;
    position: fixed; 
    top: 0;
}


.titlebar > p{
    color:black;
    font-size:12px;
    align-content: center;
    text-transform:uppercase;
	font-size: 22px;
    font-weight:bold;
    margin-left:10px;
    padding-top:10px;   
}

.titlebar {
    height:40px;
    
}

/*--------------------------*/
/*

.arrow{
    position:absolute;
    bottom:40px;
    width:100%;
    align-content: center;
    left:50%;
    color:white;
    z-index:20;
    
    
}

.arrow a{
    color:white;
    text-decoration:blink;
}

.affix {
    position: fixed;
}
* {
    box-sizing: border-box;
}

.window_container{
    position:relative;
    overflow:hidden;
    
}

video{
    position: fixed;
  top: 50%;
  left: 50%;
  z-index: -2;
  width: 600px;
  height: auto;
  transform: translate(-50%, -50%);
    overflow:hidden;
    
}


@media all and (min-width: 100px) {
 .window_container {
    height: 100%;
  }

  video {
    width: 900%;
  }
}


@media all and (min-width: 600px) {
 .window_container {
    height: 100%;
  }

  video {
    width: 500%;
  }
}

@media all and (min-width: 1024px) {
  .window_container {
    height: 100%;
  }

  video {
    width: 160%;
  }

}


.screen{
    z-index:-1;
    position:absolute;
    float:left;
    width: 100%;
    min-height:10px;
    background-color:orange;
    opacity:.75;
    height:100%;
    border-bottom-color: black;
    border-bottom-style:solid;
    border-bottom-width:3px;
}

.screener{
    background-image: url(/PETER/themes/peter/images/peter.png);
    
    position:absolute;
    
    height:100%;
    width:100%;
    opacity:1;
    background-repeat: no-repeat;
    background-size:contain;
    overflow:visible;
    background-position:center;
   
}

*/

.titlebar,
.window,
.nav{
    width:100%;
}
    .nav{
        background-color:orange;
    }


/* .contento, */
@media all and (min-width: 100px) {
    .footer2{
        width:100%;
        margin:0 auto;

    }
    
    .footer2 div{
    background-color:black;
    height:50px;
    color:white;
    font-size:10px;
    text-decoration: none;

    width:100%;
  
    text-transform:uppercase;
}

    .footer{
        width:100%;
        margin: 0 auto;

    }
}


@media all and (min-width: 959px) {
.footer2{
    width:960px;
    margin:0 auto;
    
}

.footer{
    width:960px;
    margin: 0 auto;

}
}


.window{
    z-index: -4;
    
    height:900px;
    top:100%;
}


.nav_container{
    z-index: 10000;
}
.nav {
    height: 40px;
    left: 10px;
}

.nav > ul {
    padding-left:10px;
    left:10px;
}
.nav > ul > li > a {
    font-family: "Helvetica Neue";
    font-size:24px;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration:none;
    margin-left:10px;
    margin-right:20px;
    margin-top:10px;
    align-content:center;
    color:white;

    

}


.nav > ul > li > a:hover {
    font-family: "Helvetica Neue";
    font-size:24px;
    text-transform:uppercase;
    font-weight:bold;
    color: black;
    

}
.nav > p{
    position:absolute;
    color:black;
    font-size:12px;
    align-content: center;
    text-transform:uppercase;
	font-size: 22px;
    font-weight:bold;
    margin-left:10px;
    top:2px;
       
}

.nav > ul > li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:10px;
}


.nav > ul {
     
position:absolute;
    top:7px;
    
}

a, p, h1, h2, h3, h4, h5,.field-label, *{
    font-family: "Helvetica Neue";
}

h5 {
    font-size: 10px;
    color:grey;
    text-transform:uppercase;
    font-weight:normal;
}

a{
    color:black;
    font-weight:bold;
}
a:hover{
    color:#AAA;
}

.footer div{
    background-color:orange;
    height:50px;
    
}

.footer a{
    font-size: 35px;
    text-decoration: none;
    left:30px;
    margin-left:20px;
    margin-top:8px;
}


.footer2 div{
    background-color:black;
    height:50px;
    color:white;
    font-size: 30px;
    text-decoration: none;

    width:960px;
  
    text-transform:uppercase;
}

.footer2 p{

    left:30px;
    margin-left:20px;
    top:10px;
   


    
    
}

/* CONTENT STYLING */

.contento div{
    
   
    top:20px;
    bottom:20px;
    padding-bottom:10px;
    z-index:9999;
    background-color:white;
    
}

.contento div a,
.contento div p,
.contento div h1,
.contento div h2,
.contento div h4,
.contento div h3,
.contento div h5,
.field-label{
    margin-left:10px;
}



.contento {
    width:100%;
    
}
@media all and (min-width: 100px) {
    .content_border{
        width:100%;
        margin:0 auto;
        background-color:orange;
        border-left:1px orange;
        border: 1px orange solid;

   
    }
    
}

@media all and (min-width: 959px) {
    .content_border{
        width:960px;
        margin:0 auto;
        background-color:orange;
        border-left:1px orange;
        border: 1px orange solid;

   
    }
    
}

    
.contento{
    background-color:white;
}

.content_container{
    
    background:rgba(245,184,0,0.2)
    
  
  
  
   
}

.content_container div{
 

}

div > h2 > a {
    font-size:40px;
    text-decoration:none;
    padding:0;
    margin:0;
}

.content clearfix{
    background-color:aliceblue;
    z-index:30;
}

.contextual-links-wrapper, .contextual-links-processed
{visibility: hidden;}

.field-type-taxonomy-term-reference {
    font-size:10px;
    color:grey;
    display:inline;
    text-decoration:none;
}    